name: Deploy to Production

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/swamyshotfoods/swamyshotfoods-api
            git pull origin main
            npm install
            npm run build
            chmod +x scripts/deploy/deploy_app.sh
            ./scripts/deploy/deploy_app.sh
